<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfh.drawio.mapper.CooperationRoomMapper">

    <resultMap id="BaseResultMap" type="com.wfh.drawio.model.entity.CooperationRoom">
            <id property="id" column="id" />
            <result property="diagramId" column="diagramId" />
            <result property="iv" column="iv" />
            <result property="updatedTime" column="updatedTime" />
            <result property="createTime" column="createTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,diagramId,iv,updatedTime,createTime,isDelete,
        encryptedData
    </sql>
</mapper>
