<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfh.drawio.mapper.DiagramRoomMapper">

    <resultMap id="BaseResultMap" type="com.wfh.drawio.model.entity.DiagramRoom">
            <id property="id" column="id" />
            <result property="roomName" column="roomName" />
            <result property="diagramId" column="diagramId" />
            <result property="ownerId" column="owerId" />
            <result property="isPublic" column="isPublic" />
            <result property="isDelete" column="isDelete" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTIme" />
            <result property="accessKey" column="accessKey" />
        <result property="encryptedData" column="encryptedData" />
        <result property="roomUrl" column="roomUrl" />
        <result property="iv" column="iv" />
        <result property="spaceId" column="spaceId" />
    </resultMap>

    <sql id="Base_Column_List">
        id,roomName,diagramId,owerId,isPublic,isDelete,encryptedData,roomUrl,iv,
        createTime,updateTIme,accessKey,spaceId
    </sql>
</mapper>
