<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wfh.drawio.mapper.SysRoleAuthorityRelMapper">

    <resultMap id="BaseResultMap" type="com.wfh.drawio.model.entity.SysRoleAuthorityRel">
            <id property="id" column="id" />
            <result property="roleId" column="roleId" />
            <result property="authorityId" column="authorityId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,roleId,authorityId,createTime,updateTime,isDelete
    </sql>
</mapper>
